name: clippy-action
on: [pull_request]
jobs:
  clippy:
    runs-on: ubuntu-latest-16core
    timeout-minutes: 10
    permissions:
      contents: read
      pull-requests: write
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9 # Latest as of 2023-11-16
      with:
        toolchain: stable
        components: clippy
    - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
    - uses: giraffate/clippy-action@13b9d32482f25d29ead141b79e7e04e7900281e0 # v1.0.1
      with:
        reporter: 'github-pr-check'
        github_token: ${{ secrets.GITHUB_TOKEN }}
